@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --color-accent: #C75B3C;
  --color-accent-light: #F5E8E3;
  --color-accent-dark: #A34A2F;
}

body {
  font-family: var(--font-cairo);
}

* {
  -webkit-tap-highlight-color: transparent;
}

.leaflet-container {
  z-index: 0;
}

.chips-scroll {
  scrollbar-width: none;
}
.chips-scroll::-webkit-scrollbar {
  display: none;
}
